
.language{
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
}

.language ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.languageButton{
    width: 4rem;
    height: auto;
    padding: 0.2rem;
}

.flag{
    width: 100%;
    height: auto;
}


@media (max-width: 500px) {
    .language{
        bottom: 5rem;
    }
    .languageButton{
        width: 2rem;
        height: auto;
        padding: 0.2rem;
    }
}