.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.small{
  font-size: 2rem;
}


.medium{
  font-size: 3rem;
}

.big{
  font-size: 5rem;
}

.bold{
  font-weight: 700;
}


.contentSize{
  width: min-content;
}


.logos{
    width: 8rem;
    height: auto;
}

.logos img{
  width: 100%;
  height: auto;
}

.socialLogs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8rem 0;
  gap: 2rem;
}


#projects, #getInTouch{
  padding-top: 12rem;
}

@media (max-width: 1090px) {
  .small{
    font-size: 1.8rem;
  }
  
  
  .medium{
    font-size: 2.5rem;
  }
  
  .big{
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .small{
    font-size: 1.6rem;
  }
  
  
  .medium{
    font-size: 2rem;
  }
  
  .big{
    font-size: 3rem;
  }
}


@media (max-width: 500px) {
  .logos{
    width: 5rem;
    height: auto;
}

#projects, #getInTouch{
    padding-top: 10rem;
  }

  .small{
    font-size: 1.4rem;
  }
  
  
  .medium{
    font-size: 1.8rem;
  }
  
  .big{
    font-size: 2.5rem;
  }
}