.App {
  gap: 1rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1280px;
}

.content {
  max-width: 1100px;
  padding: 2rem;
  background: radial-gradient(closest-side,#213B36,#242424);
  background-size:100% 100%;
}

.gameFont {
    font-family: 'Bitcount Grid Double' ,'Courier New', Courier, monospace;

}


.small{
  font-size: 1.6rem;
}


.medium{
  font-size: 2rem;
}

.big{
  font-size: 3rem;
}

.bold{
  font-weight: 700;
}


.contentSize{
  width: min-content;
}


.logos{
    width: 8rem;
    height: auto;
}

.logos img{
  width: 100%;
  height: auto;
}

.socialLogs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8rem 0;
  gap: 2rem;
}


#projects, #getInTouch{
  padding-top: 12rem;
}

@media (max-width: 1090px) {
  .small{
    font-size: 1.8rem;
  }
  
  
  .medium{
    font-size: 2.5rem;
  }
  
  .big{
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .small{
    font-size: 1.6rem;
  }
  
  
  .medium{
    font-size: 2rem;
  }
  
  .big{
    font-size: 3rem;
  }
}


@media (max-width: 500px) {
  .logos{
    width: 5rem;
    height: auto;
}

#projects, #getInTouch{
    padding-top: 10rem;
  }

  .small{
    font-size: 1.4rem;
  }
  
  
  .medium{
    font-size: 1.8rem;
  }
  
  .big{
    font-size: 2.5rem;
  }
}